.App {
  width: 500px;
  margin-left: auto;
  margin-left: auto;
  border: 1px solid #EEE;
}
.App .Header {
  padding: 10px 5px;
  display: flex;
  border-bottom: 1px solid #EEE;
}
.App .Header input {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-left: 10px;
  width: 100%;
  border: none;
}

.App .Header input:focus {
  outline: none;
}