.item_todo {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
  border-bottom: 1px solid #eee;
  padding: 10px 5px;
  display: flex;
}
.item_todo:last-child {
  border-bottom: none;

  border-bottom: 1px solid #eee;
}
.item_done > p {
  text-decoration: line-through;
  opacity: 0.3;
}
.item_todo > p {
  margin: 0 0 0 10px;
}
