.item_todo {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
  text-align: center;
}
.item_done {
    text-decoration: line-through;
    opacity: 0.3;
}
